<?xml version="1.0"?>
<psalm totallyTyped="false" resolveFromConfigFile="true" errorBaseline="psalm-baseline.xml">
    <projectFiles>
        <directory name="bin"/>
        <directory name="src"/>
        <directory name="web"/>
        <file name="views/vpnPortalWG*"/>
        <file name="views/WG*"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <issueHandlers>
        <LessSpecificReturnType errorLevel="info"/>
        <InvalidScope>
            <errorLevel type="suppress">
                <directory name="views"/>
            </errorLevel>
        </InvalidScope>
        <PossiblyUndefinedVariable>
            <errorLevel type="suppress">
                <directory name="views"/>
            </errorLevel>
        </PossiblyUndefinedVariable>
        <UndefinedGlobalVariable>
            <errorLevel type="suppress">
                <directory name="views"/>
            </errorLevel>
        </UndefinedGlobalVariable>
        <InaccessibleMethod>
            <errorLevel type="suppress">
                <directory name="views"/>
            </errorLevel>
        </InaccessibleMethod>
    </issueHandlers>
</psalm>
